---
import Section from "../../Atoms/Section/index.astro"
import SectionTitle from "../../Atoms/SectionTitle.astro"
import BlogList from "../../Organaisms/BlogList/index.astro"
import Button from '../../Atoms/Button/index.astro';
---
<Section>
  <SectionTitle
    element="h2"
    titleEn="blog"
    titleJp="ブログ"
  />
  <BlogList />
  <Button
    element="a"
    href="#"
    label="ブログ一覧"
  />
</Section>