---
import DefaultLayout from '../layouts/DefaultLayout.astro';

import MainVisual from '../components/Atoms/MainVisual.astro';
import Nav from '../components/Molecules/Nav.astro';
---

<DefaultLayout
	pageName="ホーム"
	desc="Sky Coffeeの説明文が入ります。"
	type="website"
>
	<MainVisual />
	<Nav />
	<p>test</p>
</DefaultLayout>