---
import DefaultLayout from '../layouts/DefaultLayout.astro';

import MainVisual from '../components/Atoms/MainVisual.astro';
import Nav from '../components/Molecules/Nav.astro';
import SectionBlock from '../components/Organaisms/SectionBlock.astro';
import SectionTitle from "../components/Atoms/SectionTitle.astro"
import BlogList from "../components/Organaisms/BlogList/index.astro"
import Button from '../components/Atoms/Button/index.astro';

import ImageConcept from '../assets/images/concept.jpg';
import ImageWebpConcept from '../assets/images/concept.webp';
---

<DefaultLayout
	pageName="ホーム"
	desc="Sky Coffeeの説明文が入ります。"
	type="website"
>
	<MainVisual />
	<Nav />
	<div class="contents">
		<SectionBlock
			image={ImageConcept}
			imageWebp={ImageWebpConcept}
			titleEn="Concept"
			titleJp="心静かにコーヒーを"
			text="立ち止まって、\n空の青さを眺めて、\n一息つきましょう"
		/>
		<section>
			<SectionTitle
				element="h2"
				titleEn="blog"
				titleJp="ブログ"
			/>
			<BlogList />
			<Button
				element="a"
				href="#"
				label="ブログ一覧"
			/>
		</section>
	</div>
	<p>test</p>
</DefaultLayout>

<style lang="scss">
	.contents {
		display: grid;
		gap: 100px;
		width: 100%;
		max-width: 1110px;
		margin: auto;
		padding: 50px 20px;
		box-sizing: border-box;

		@media screen and (max-width: 767px) {
			gap: 70px;
			max-width: 100%;
		}
	}
</style>